<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Subscribe suite" verbose="1" parallel="classes" thread-count="2">
    <test name="SubscribeTest">
        <classes>
            <class name="SubscribeTest"/>
        </classes>
    </test>
    <test name="CheckLanguageTest">
        <classes>
            <class name="CheckLanguageTest"/>
        </classes>
    </test>
    <test name="RegistrationWithValidDate">
        <classes>
            <class name="RegistrationWithValidDate"/>
        </classes>
    </test>
    <test name="RegistrationWithInvalidData">
        <classes>
            <class name="RegistrationWithInvalidData"/>
        </classes>
    </test>
</suite>