<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="all tests" verbose="1" parallel="methods" thread-count="2">
    <test name="ActionsTest">
        <classes>
            <class name="CheckCategoriesTest"/>
            <class name="CheckLanguageTest"/>
            </classes>
    </test>
    <test name="RegistrationTest">
        <classes>
            <class name="SubscribeTest"/>
            <class name="RegistrationWithValidDate"/>
            <class name="RegistrationWithInvalidData"/>
        </classes>
    </test>
    <test name="Check the product">
        <classes>
            <class name="CheckPopularProductTest"/>
            <class name="PriceDropCheckTest"/>
        </classes>
    </test>
</suite>